<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>To-do List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container my-2">
    <h3>
        Welcome, <span th:text="${curUser}" style="color: deepskyblue"></span>
    </h3>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <button id="openCreateModalBtn" class="icon-btn btn-success" title="Create New Todo"
                data-bs-toggle="modal" data-bs-target="#createModal">
            <i class="material-icons">add_circle</i>
        </button>

        <div class="d-flex gap-2">
            <button id="selectToggle" class="icon-btn btn-primary" title="Select Items">
                <i class="material-icons">check_box</i>
            </button>

            <button id="batchUpdateBtn" class="icon-btn" title="Batch Update"
                    data-bs-toggle="modal" data-bs-target="#batchUpdateModal">
                <i class="material-icons">system_update_alt</i>
            </button>

            <button id="batchDeleteBtn" class="icon-btn" title="Batch Delete">
                <i class="material-icons">delete_forever</i>
            </button>
        </div>
    </div>

    <table border="1" class = "fixed-table fixed table table-striped table-responsive-md">
        <thead>
        <tr>
            <th class="title">
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                    Title</a>
            </th>
            <th class="description">
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                    Description</a>
            </th>
            <th class="created">
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    Created on</a>
            </th>
            <th class="updated">
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    Updated on</a>
            </th>
            <th class="actions"> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todoitem : ${listTodoItems}" th:if="${!todoitem.complete}" th:class="${todoitem.complete} ? success : warning" th:attr="data-id=${todoitem.getId()}">
            <td th:text="${todoitem.title}"></td>
            <td th:text="${todoitem.description}"></td>
<!--            <td th:text="${todoitem.intendedTime}"></td>-->
<!--            <td th:text="${todoitem.complete}"></td>-->
<!--            <td th:text="${todoitem.complete ? todoitem.updatedOn : ''}"></td>-->
            <td th:text="${todoitem.createdOn}"></td>
            <td th:text="${todoitem.updatedOn}"></td>
            <td>
                <a href="#"
                   class="btn-update"
                   th:title="Edit"
                   th:classappend="${todoitem.complete} ? 'disabled'"
                   th:data-id="${todoitem.id}"
                   th:data-title="${todoitem.title}"
                   th:data-description="${todoitem.description}"
                   th:data-complete="${todoitem.complete}"
                   data-bs-toggle="modal"
                   data-bs-target="#updateModal">
                    <i class="material-icons" style="font-size:24px;color:#007bff">edit</i>
                </a>
                <a th:href="@{/deleteTodoItem/{id}(id=${todoitem.id})}"
                   th:title="Delete"
                   class="btn-delete">
                    <i class="material-icons" style="font-size:24px;color:red">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="selectedIdsContainer"></div>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total items: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>

    <br>
    <h2 style="color: green;" class="text-success">Completed</h2>
    <table border="1" class="fixed table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Title</th>
            <th class="description-completed">Description</th>
            <th class="completed">Completed On</th>
            <th class="delete-only-action">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="completedTodo : ${completedTodoItems}" th:class="success">
            <td th:text="${completedTodo.title}"></td>
            <td th:text="${completedTodo.description}"></td>
            <td th:text="${completedTodo.updatedOn}"></td>
            <td>
                <a th:href="@{/deleteTodoItem/{id}(id=${completedTodo.getId()})}" th:title="Delete" class="btn-delete">
                    <i class="material-icons" style="font-size:24px;color:red">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/modals :: #createModal"></div>
<div th:replace="fragments/modals :: #batchUpdateModal"></div>
<div th:replace="fragments/modals :: #updateModal"></div>

<script th:src="@{/js/todo-creation.js}"></script>
<script th:src="@{/js/todo-selection.js}"></script>
<script th:src="@{/js/todo-update.js}"></script>

</body>
</html>