<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Create - Group</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>TO-DO LIST</h1>
    <hr>
    <h2>Create new group</h2>

    <form action="#" th:action="@{/groups/createGroup}" th:object="${group}"
          method="POST">
        <input type="text" th:field="*{name}"
               placeholder="Name" required class="form-control mb-4 col-4">

        <!--        <input type="datetime-local" th:field="*{intendedTime}">-->

        <button type="submit" class="btn btn-info col-2"> Save </button>
    </form>

    <hr>

    <a th:href = "@{/groups}"> Back to group</a>
</div>
</body>
</html>